.good-small{
  height:70px;
  width: 220px;
  padding-right: 50px;
  animation: fadeIn 2s ease-in-out forwards;
  margin-left: 15px;
}
.navbar {
    padding-right:5px ;
    display: flex;
    gap:45px;
    margin: 25px;
}
  
.navbar a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
    animation: fadeIn 4s ease-in-out forwards;
    text-align: center;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    gap: 68px;
}

.active-link {
  color: #FFA205;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgb(255, 163, 5);
  background-color: transparent;
}



@media (max-width: 768px) {
  .navbar {
    font-size: 1.6em;
    gap: 20px;
  }

  .navbar a {
    padding: 6px 18px;
    font-size: 0.95rem;
    gap: 20px;
  }

  .navbar ul {
    gap: 15px;
  }
}

@media (max-width: 390px) {
  .navbar {
    font-size: 1em;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    padding: 6px 10px;
    font-size: 0.85rem;
    gap: 10px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 8px;
  }
}


  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (max-width: 768px) {
  .navbar {
    font-size: 1.6em;
  }

   .navbar a {
    padding: 6px 30px;
    font-size: 0.95rem;
  } 

  .navbar ul {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .navbar {
    font-size: 1.2em;
    flex-direction:row;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }
}
