.kontakt-form {
  border: 8px solid transparent;
  border-inline-color: #fba723;
  margin: 80px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.kontakt {
  font-size: 3rem;
  color: #fba723;
  font-weight: 800;
  font-family: "Tourney", sans-serif;
}

.kontakt-text {
  margin: auto;
  padding: 10px;
  color: #d11b1b;
  font-weight: 700;
  font-family: "Tourney", sans-serif;
}

.texten {
  color: white;
  font-family: "Aleo", serif;
  font-weight: 400;
  width: 100%;
  max-width: 550px;
  margin: auto;
  padding: 20px;
}

.inputfield textarea,
.inputfield input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Aleo", serif;
  font-weight: 400;
}

.skicka {
  margin: auto;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #fba723;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.skicka:hover {
  background-color: #e69212;
}

.labelText {
  text-align: left;
  font-size: large;
  margin: 10px 0;
  color: #fba723;
  font-family: "Aleo", serif;
}



@media (max-width: 768px) {
  .kontakt {
    font-size: 2.5rem;
  }

  .kontakt-form {
    margin: 40px 20px;
    padding: 15px;
  }

  .texten {
    padding: 15px;
  }
}

@media (max-width: 390px) {
  .kontakt {
    font-size: 2rem;
  }

  .kontakt-form {
    margin: 20px 10px;
    padding: 10px;
  }

  .labelText {
    font-size: 1rem;
  }

  .skicka {
    width: 100%;
  }
}
