.Namnet {
    text-align: center;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:black;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.8s ease-in-out;
    color: black;
    margin: auto;
    padding: 30px;
}

.strong {
    display: inline-block;
    transition: color 0.8s ease-in-out;
    animation: colorChange 1.8s infinite alternate, pulse 0.8s infinite alternate; 
}

.me {
    border-radius: 10px 100px / 120px;
    height: 400px;
    width: 325px;
}

.informationen {
    font-size: 22px;
    color: black;
    text-align: left;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    padding: 25px;
    margin: auto;
}

.background {
    margin-top: 20px;
    height: 1200px;
    width: 1040px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    background-color: white;
    border: #fba723 4.5px solid ;
    border-radius: 10px 100px / 120px;
}

@keyframes colorChange {
    0% { color: black; }
    25% { color: #d11b1b; }
    50% { color: #fba723; }
    75% { color: #bfc51a; }
    95% { color: #3c932f; }
    100% { color: #1509be; }
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}