.information {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: left;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 22px;
    color: white;
}
.background{   
    height: 700px;
    width: 640px; 
    display: flex;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    
}

.Namn {
    font-size: 4rem;
    color: #fba723;
    font-weight: 1600;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  
}

.jobb {
    padding: 15px;
    border-radius: 8px;
    line-height: 1.6;
    box-shadow: 0 4px 6px white;
} 


@media (max-width: 768px) {
	body {
		padding: 10px;
	}

	h1 {
		font-size: 1.5rem;
	}
}
