.portfolio-container {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "Montserrat", sans-serif;
  line-height: 2.2;
  min-height: 100vh;
  width: 100vw;

}

.portfolio-title-vertical {
  padding-right: 5%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 120px;
  font-weight: 700;
  color: #000;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.portfolio-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  line-height: 2.2;

}

.portfolio-description-box {
  
  background-color: #000;
  color: #fff;
  padding: 20px 25px;
  max-width: 400px;
  border-radius: 0 80px 0 80px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.portfolio-description-text {
  font-size: 14px;
  line-height: 1.5;
}

.portfolio-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
  list-style: none;
  
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  text-align: center;
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
}

.product-image {
  width: 250px;
  height: 250px;
  border-radius: 50px 0px 50px 0px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.50);
  object-fit: cover;
  transition: transform 0.3s;
}

.product-image:hover {
  transform: scale(1.05);
}
